__pycache__/
*.pyc
.venv/
venv/
.env

model/training_data.csv
model/artifacts/*.pkl
streaming/output/
streaming/checkpoint/

# Spark/Hadoop local metastore junk
metastore_db/
derby.log
spark-warehouse/
.ruff_cache/
